@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif ;
}
body {
  background-color: #d9eff3;
  font-size: 1.6vw;
}
.app {
  padding: 10px;
  background-color: red;
}

.login {
  text-align: center;
  padding: 30px;
  justify-content: center; 
  width: 75vw;
  height: 35vh;
  margin: 5% auto;
  background-color: white;
  border: 0.1px solid #99dde9;
  border-radius: 10px;
}
.login_title {
  text-align: center;
  font-weight: bolder;
  margin-top: 5%;
  padding: 20px;
  font-family: 'Permanent Marker',
  cursive;
  font-size:xx-large;
  letter-spacing: 15px;
}
.login > span {
  font-size: large;
  font-weight: bold;
}
.login_label {
  text-align: start;
  font-weight: bold;
}

.login_form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.login_input{
  margin-top: 5px;
  height: 25px;
  border: 0.1px solid #d0d0d0;
}
.login_button {
margin-top: 35px;
width: 150px;
height: 30px;
background-color: #d9eff3;
border: 0.1px solid #99dde9;
font-weight: bold;
font-size: 13px;
}

.username_exist{
  color: red;
  font-size: small;
}

.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid #99dde9;
  margin: 10px;
}
.header_logo {
font-family: 'Permanent Marker',
cursive;
font-size:4vw;
letter-spacing: 15px;
color: black;
text-decoration: none;
margin: 50px;
}
.header_loggedUser {
  margin: 0 50px
}

.header_loggedUser_img {
  width: 80px;
  height: 70px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  
}
.header_loggedUser_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header_loggedUser_div input {
  border-style: none;
  background-color: #d9eff3;
  margin: 10px;

}


.queries_selects {
  display: grid;
  grid-template-columns:100px 100px;
  grid-column-gap: 15px;
  margin-left: 20px;
  margin-top: 20px;
}

.queries_selects select {
  width: 100px;
  padding: 5px;
  background-color: white;
}

.nav {
  border-bottom: 2px solid #99dde9;
  margin: 10px;
}


.nav_topics_ul {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding:10px;
}
.nav_topics_li {
  text-transform: capitalize;
  list-style: none;
  text-align: center;
  padding: 10px 30px;
  background-color: white;
  border: 1px solid #99dde9;
  border-radius: 5px;
}

.articlesList_link {
  text-decoration: none;
  color:black;

}
.articlesList_li {
  margin: 20px;
  background: white;
  border: 1px solid #99dde9;
}


.articlesList_li h3,
.articlesList_li span{
  padding: 10px;
}
.articlesList_li section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  margin-top: 10px;
  font-size: -1vw;
}

.articlesList_button div {
  padding: 0px 10px; 
}

.articlesList_input span{
 
 border-style: none;
 position: relative;
 bottom: 12px;
 left: 89vw;
}

.articlesList_input span:hover {
  color: blue;
}
.postedArt-container {
  display: grid;
  grid-template-columns: 80vw auto;
  grid-template-rows: auto;
  justify-content: center;
}

.postedArt-container button {
  height: 10vh;
  width: 75px; 
  position: relative;
  top: 10px;
  background-color: white;
  border-top: 1px solid #99dde9;
  border-bottom: 1px solid #99dde9;
  border-right: 1px solid #99dde9;
  border-left: none;
  font-size: small;
}
.postedArticle {
  height: 10vh;
  margin: 10px auto;
}
.article_section , .comment_container{
  padding: 10px;
  margin: 10px;
  text-transform:none;
}

.article_section h6 {
  padding: 10px 0;
  font-size: medium;
  text-transform: capitalize;
  
}

.article_section h2 {
  text-align: center;
  padding: 20px;
  text-transform: none;
}

.article_container{
  background-color: white;
  margin: 10px;
  
}

.article_date {
  font-size: small;
  color: #999393;
  margin: 10px 0;
}

.article_hashtag {
  margin: 10px 0;
}

.article_section article {
  line-height: 20px;
  text-align: justify;
}
.vote {
  display: flex;
  margin-top: 20px;
}
.vote p {
  padding: 0 5px;
}
.vote button {
  padding: 0 5px;
}
.comment_container {
  border-top: 1px solid black;
  
}
.comment_container h5 {
  margin-top: 30px;
}
.comment_container article {
  border: 1px solid #999393;
  border-radius: 10px;
  margin: 15px 0;
}

.comment_post, .comment_post textarea {
  margin: 10px 0;
  
}
.comment_post textarea {
  max-width:100%;
}

.postComment-btn button {
  border-radius: 5%;
  margin-left: 10px;
  background-color: #d9eff3;
  padding: 3px;
}
.comment_button_container button{
  margin-left: 10px;
}
.comment_author {
  margin-bottom: 10px;
  font-weight: bold;
}

.comment_date {
  margin-top: 20px;
}

.comment_article {
  text-align: justify;
}

.bottom_display {
  display: flex;
  justify-content: space-between;
}

.article_delete {
  margin-right: 5px;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 80vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.userProfile_data {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-bottom: 2px solid #99dde9;
}

.userProfile_data  h3, .userProfile_data p, .userArticle h2, .delete_container h3, .delete_container button {
  text-align: center;
  margin: 20px;
}

.userArticle_title {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 100px;
  align-content: center;
}


.userProfile_data img{
  margin: 10px;
  height: 30vh;
  border-radius: 5px;
  object-fit:contain;
}

.delete_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete_container button {
  background-color: red;
  padding: 5px;
  color: white;
  font-size: medium;
}

.element-container{
  width: 80vw;
  height: 40vh;
  margin:20px auto;
  border-radius: 10%;
  border: 2px solid #99dde9;
  background-color: white;
  display: flex;
  align-items: center;
}

.element-container h3 {
  text-align: center;
  font-size: 4vw;
  margin: 30% auto;
}
.post-article-container {
  text-align: center;
}

.post-article-container h3,
.article-topic-container,
.article-title-container,
.textarea-container
{font-size: 20px;
  margin: 10px 0;
}
.article-topic-container select,
.post-article-container button {
  width: 120px;
  padding: 7px;
  background-color:#f7f3f3;
}
.article-title-container input {
  width: 300px;
}
.textarea-container textarea {
  width: 50vw;
}
.article-topic-container option {
  text-transform: capitalize;
  font-size: 1vw;
}

.icon{
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  font-size: 30px;
  color: black;
  position: relative;
  top: 18px;
  left: 20px;
}
.icon:hover {
  background-color: rgb(112, 203, 245);
}

#bigplus:before {
  content: '+';
}


@media screen and (min-width: 1200px) {
  body{
    font-size: 1vw;
  }
  .login {
    width: 45vw;
  }
  
  .login_label{
    padding-top: 7px;
  }

  .article_container {
    width: 80%;
    margin: 10px auto;
  }
  .more_input {
    
    width: 30px;
    height: 30px;
    
  }
  .element-container {
    width: 50vw;
  }
}



