@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color:#e3f0f3; */
  /* text-transform: capitalize;  */
}
body {
  background-color: #d9eff3;
}
.app {
  padding: 10px;
  background-color: red;
}

.login {
  text-align: center;
  padding: 30px;
  justify-content: center; 
  width: 75vw;
  height: 35vh;
  margin: 5% auto;
  background-color: white;
  border: 0.1px solid #99dde9;
  border-radius: 10px;
}
.login_title {
  text-align: center;
  font-weight: bolder;
  margin-top: 5%;
  padding: 20px;
  font-family: 'Permanent Marker',
  cursive;
  font-size:xx-large;
  letter-spacing: 15px;
}
.login > span {
  font-size: large;
  font-weight: bold;
}
.login_label {
  /* padding-top: 20px; */
  text-align: start;
  font-weight: bold;
}

.login_form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.login_input{
  margin-top: 5px;
  height: 25px;
  border: 0.1px solid #d0d0d0;
}
.login_button {
margin-top: 35px;
width: 150px;
height: 30px;
background-color: #d9eff3;
border: 0.1px solid #99dde9;
font-weight: bold;
font-size: 13px;
}

.username_exist{
  color: red;
  font-size: small;
}

.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid #99dde9;
  margin: 10px;
}
.header_logo {
font-family: 'Permanent Marker',
cursive;
font-size:large;
letter-spacing: 15px;
color: black;
text-decoration: none;
}

.header_loggedUser_img {
  /* border-radius: 50%; */
  width: 80px;
  height: 70px;
  /* object-fit:cover; */
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.queries_selects {
  display: grid;
  grid-template-columns:auto auto;
  grid-column-gap: 5px;
  margin-left: 20px;
}

.queries_selects select {
  width: 80px;
  background-color: white;
}

.nav {
  border-bottom: 2px solid #99dde9;
  margin: 10px;
}


.nav_topics_ul {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding:10px;
}
.nav_topics_li {
  list-style: none;
  text-align: center;
  padding: 10px;
  background-color: white;
  border: 1px solid #99dde9;
  border-radius: 5px;
}
.articlesList_container {
  background-color: pink;
}
.articlesList_link {
  text-decoration: none;
  color:black;
}
.articlesList_li {
  margin: 20px;
  background: white;
  border: 1px solid #99dde9;
}


.articlesList_li h3,
.articlesList_li span{
  padding: 10px;
}
.articlesList_li section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  margin-top: 10px;
  font-size: 10px;
}
.article_section , .comment_container{
  padding: 10px;
  margin: 10px;
  text-transform:none;
  
}

.article_section h6 {
  padding: 10px 0;
  font-size: medium;
  text-transform: capitalize;
  
}

.article_section h2 {
  text-align: center;
  padding: 20px;
  text-transform: none;
}

.article_container{
  background-color: white;
  margin: 10px;
  
}

.article_date {
  font-size: small;
  color: #999393;
  margin: 10px 0;
}

.article_hashtag {
  margin: 10px 0;
}

.article_section article {
  line-height: 20px;
  text-align: justify;
}
.vote {
  display: flex;
  margin-top: 20px;
}
.vote p {
  padding: 0 5px;
}
.vote button {
  padding: 0 5px;
}
.comment_container {
  border-top: 1px solid black;
  
}

.comment_container article {
  border: 1px solid #999393;
  border-radius: 10px;
  margin: 15px 0;
}

.comment_post, .comment_post textarea {
  margin: 10px 0;
}

.comment_button_container button{
  margin-left: 10px;
}
.comment_author {
  margin-bottom: 10px;
  font-weight: bold;
}

.comment_date {
  margin-top: 20px;
}

.comment_article {
  text-align: justify;
}

.bottom_display {
  display: flex;
  justify-content: space-between;
}

.article_delete {
  margin-right: 5px;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  border: 1px red solid
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid yellow;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.userProfile_data {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-bottom: 2px solid #99dde9;
}

.userProfile_data  h3, .userProfile_data p, .userArticle h2, .delete_container h3, .delete_container button {
  text-align: center;
  margin: 10px;
}

.userProfile_data img{
  margin: 10px;
  height: 30vh;
  border-radius: 5px;
  object-fit:contain;
}

.delete_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete_container button {
  background-color: red;
  padding: 5px;
  color: white;
  font-size: medium;
}

@media screen and (min-width: 1000px) {
  .login {
    width: 45vw;
  }
  
  .login_label{
    padding-top: 7px;
  }

 
}

@media screen and (min-width: 600px){
  
}

